<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Sseudam">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.REQUIRED_PERMISSIONS" />
    <uses-permission android:name="android.permission.PERMISSIONS_REQUEST_CODE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sseudam">
        <activity
            android:name=".CompletedActivity"
            android:exported="false" />
        <activity
            android:name=".MantomanActivity"
            android:exported="false" />
        <activity
            android:name=".MapAcitivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBk4-HzNW7ueKZ3de15svbUyJGATGDslss" />

        <activity
            android:name=".QrSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".BluetoothActivity"
            android:exported="false" />
        <activity
            android:name=".QrcodescanActivity"
            android:exported="false" />
        <activity
            android:name=".CheckdeleteActivity"
            android:exported="false" />
        <activity
            android:name=".MypageActivity"
            android:exported="false" />
        <activity
            android:name=".ShopActivity"
            android:exported="false" />
        <activity
            android:name=".SelectActivity"
            android:exported="false" />
        <activity
            android:name=".MainContent"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Mypage_InquiryActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="56feccfd8ce8f849c2b049032f261f3b" />
    </application>

</manifest>